/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-cover: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --color-main-text: #f1b2ce;
  --color-subtitle: #000028;
  --color-title: #ff0070;
  --accent-color: #ff0070;
  --decorate-color: #ff0070;
  --color-main-title: #db00ff;
  --color-hover: #ff007066;
  --shadow-color: #ff0070;
}

.theme-dark .lamp::before {
  color: var(--decorate-color);
}

.theme-dark .lamp::after {
  background-color: var(--decorate-color);
  box-shadow: 0px 0px 4px 2px var(--decorate-color);
}
