/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-cover: url(../images/cover-image-light.png);
  --color-main-text: #353430;
  --color-subtitle: #353430;
  --color-title: #353430;
  --decorate-color: #353430;
  --accent-color: #ff8dcb;
  --color-main-title: #ffc2e6;
  --color-hover: #32312d66;
  --shadow-color: #ff0070;
}

.theme-light .lamp {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-cover: url(../images/cover-image-light.png);
    --color-main-text: #353430;
    --color-subtitle: #353430;
    --color-title: #353430;
    --decorate-color: #353430;
    --accent-color: #ff8dcb;
    --color-main-title: #ffc2e6;
    --color-hover: #32312d66;
    --shadow-color: #ff0070;
  }

  .lamp {
    display: none;
  }
}
