/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-cover: url(../images/cover-image-light.png);
  --background-color: #fff1f7;
  --color-main-text: #353430;
  --color-subtitle: #353430;
  --color-title: #353430;
  --decorate-color: #353430;
  --accent-color: #ff8dcb;
  --color-main-title: #ffc2e6;
  --color-hover: #32312d66;
  --shadow-color: #ff0070;
}

.theme-light .lamp::before {
  color: transparent;
}

.theme-light .lamp::after {
  background-color: transparent;
  box-shadow: 0px 0px 4px 2px transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-cover: url(../images/cover-image-light.png);
    --background-color: #fff1f7;
    --color-main-text: #353430;
    --color-subtitle: #353430;
    --color-title: #353430;
    --decorate-color: #353430;
    --accent-color: #ff8dcb;
    --color-main-title: #ffc2e6;
    --color-hover: #32312d66;
    --shadow-color: #ff0070;
  }

  .lamp::before {
    color: transparent;
  }

  .lamp::after {
    background-color: transparent;
    box-shadow: 0px 0px 4px 2px transparent;
  }
}
