/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-family: "IBM Plex Mono", sans-serif;
  --bg-cover: url(../images/cover-image-dark.png);
  --fs-main-text: 18px;
  --fw-main-text: 400;
  --fs-title: 116px;
  --fw-title: 700;
  --color-main-text: #f1b2ce;
  --color-subtitle: #000028;
  --color-title: #ff0070;
  --accent-color: #ff0070;
  --decorate-color: #ff0070;
  --color-main-title: #db00ff;
  --color-hover: #ff007066;
  --shadow-color: #ff0070;
  --padding-main: 10px;
  --gap: 10px;
  --margin-block-end: 20px;
}

@media (width >=375px) {
  :root {
    --fs-title: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (width >= 768px) {
  :root {
    --fs-title: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --padding-main: 20px;
    --margin-block-end: 40px;
  }
}
